#Exclude conf files generated when canari package installed, not the main conf file though
*.conf

#Exclude python autosave and complied files
*.pyc
*.py~

#Exclude sniffMyPackets.mtz from src directory
/src/sniffMyPackets.mtz
!/src/sniffMyPackets/resources/etc/sniffMyPackets.conf
